@page "/Task2"
@model WebApplication2.Pages.Task2Model
@{
	ViewData["Title"] = "Contact";
}

<form method="post" style="width: 270px;" class="d-flex flex-column justify-content-center gap-2">
	<div class="d-flex flex-column">
		<div class="w-100 d-flex justify-content-between">
			<label asp-for="FullName">Full Name:</label>
			<input asp-for="FullName" />
		</div>
		<span class="text-danger" asp-validation-for="FullName"></span>
	</div>

	<div class="d-flex flex-column">
		<div class="w-100 d-flex justify-content-between">
			<label asp-for="Email">Email:</label>
			<input asp-for="Email" />
		</div>
		<span class="text-danger" asp-validation-for="Email"></span>
	</div>

	<div class="d-flex flex-column">
		<div class="w-100 d-flex justify-content-between">
			<label asp-for="Message">Message:</label>
			<textarea asp-for="Message" ></textarea>
		</div>
		<span class="text-danger" asp-validation-for="Message"></span>
	</div>

	<span asp-validation-summary="All"></span>

	<input type="submit" value="Register" />
</form>

<partial class="text-danger" name="_ValidationScriptsPartial" />