@page "/Task5"
@model WebApplication2.Pages.Task5Model
@{
	ViewData["Title"] = "Feedback";
}

<form method="post" class="flex-row gap-0">
	<div class="form-group w-25 flex-column gap-2">
		<label for="message">Message</label>
		<input type="text" id="message" name="Message" class="form-control" />
		<button type="submit" class="btn btn-primary mt-2">Send</button>
	</div>
</form>

@if (!string.IsNullOrEmpty(ViewData["Message"] as string))
{
	<h3 class="mt-3">@ViewData["Message"]</h3>
}