@page "/Task3"
@model WebApplication2.Pages.Task3Model
@{
	ViewData["Title"] = "Newsletter";
}

<form method="post" style="width: 270px;" class="d-flex flex-column justify-content-center gap-2">
	<div class="d-flex flex-column">
		<div class="w-100 d-flex justify-content-between">
			<label asp-for="Email">Email:</label>
			<input asp-for="Email" />
		</div>
		<span class="text-danger" asp-validation-for="Email"></span>
	</div>

	<span asp-validation-summary="All"></span>

	<input type="submit" value="Subscribe" />
</form>

<partial class="text-danger" name="_ValidationScriptsPartial" />