@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full">

    <a asp-controller="Task1" asp-action="Index"
       class="block p-5 bg-blue-500 text-white rounded-lg hover:bg-blue-700 transition">
        <h3 class="text-lg font-semibold">Task 1</h3>
        <p>Message Service</p>
    </a>

    <a asp-controller="Task2" asp-action="Index"
       class="block p-5 bg-blue-500 text-white rounded-lg hover:bg-blue-700 transition">
        <h3 class="text-lg font-semibold">Task 2</h3>
        <p>DateTime Service</p>
    </a>

    <a asp-controller="Task3" asp-action="Index"
       class="block p-5 bg-blue-500 text-white rounded-lg hover:bg-blue-700 transition">
        <h3 class="text-lg font-semibold">Task 3</h3>
        <p>Random Number Service</p>
    </a>

    <a asp-controller="Task4" asp-action="Index"
       class="block p-5 bg-blue-500 text-white rounded-lg hover:bg-blue-700 transition">
        <h3 class="text-lg font-semibold">Task 4</h3>
        <p>Calculator Service</p>
    </a>

    <a asp-controller="Task5" asp-action="Index"
       class="block p-5 bg-blue-500 text-white rounded-lg hover:bg-blue-700 transition">
        <h3 class="text-lg font-semibold">Task 5</h3>
        <p>Fake Email Service</p>
    </a>

</div>
