.cont {
    width: 600px;
    height: 106px;
    border: 2px solid #C6C6C6;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    width: 170px;
    height: 76px;
    margin: 15px;
    background-image: url(loading.png);
    float: left;
}
.process {
    width: 280px;
    height: 70px;
    margin: 15px 15px 0px 0px;
    float: left;
}
.processInfo {
    width: 280px;
    height: 24px;
    border: 2px solid #99A7C7;
}
.processInfoLeft {
    font-size: 10px;
    padding: 6.5px;
    margin: 0px;
    width: 100px;
    background-color: #D0D6E2;
    float: left;
}
.processInfoRight {
    font-size: 10.5px;
    padding: 6.5px;
    margin: 0px;
    width: 154px;
    text-align: right;
    float: right;
}
.process h5 {
    margin: 10px 0px;
}
.processNeed {
    font-size: 8.8px;
    margin: 12px 0px 0px 0px;
}
button {
    width: 80px;
    height: 28px;
    margin: 15px 15px 0px 7px;
    color: white;
    background-color: #3B5998;
    border: 2px solid #263c6d;
    font-size: 10px;
    float: left;
}
@media screen and (max-width: 600px) {
    .cont {
        width: 314px;
        height: 270px;
    }
    .process {
        margin-left: 15px;
    }
    button {
        width: 280px;
        margin-left: 15px;
    }
    .logo {
        scale: 1.665;
        margin: 40px 15px 15px 72px;
    }
}