.progress-wrap_ {
    background: linear-gradient(to right, #00a6ad, #11d1c1);
    height: 36px;
    width: 36px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgb(143 143 143 / 30%);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap_.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap_::before {
    position: absolute;
    content: '\2191';
    text-align: center;
    line-height: 36px;
    font-size: 23px;
    opacity: 0;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 32px;
    width: 38px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap_::after {
    position: absolute;
    content: '\2191';
    text-align: center;
    line-height: 36px;
    font-size: 23px;
    color: #fff;
    left: 0;
    top: 0;
    height: 32px;
    width: 37px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap_ svg path {
    fill: none;
}

.progress-wrap_ svg.progress-circle path {
    stroke: #000;
    stroke-width: 4px;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}