:root {
    --Primary_font: 'Degular';
    --primary_color: 1f1f1f;
    --Primary_color: #04091b;
    --secondary_color: linear-gradient(to right, #f6851b, #fea82e);
    --text_color: #181818;
    --secondary_text_color: #11d1c1;
    --bg-color: #e1e1e1;
    --bg-secondary-color: #f6f6f6;
    --secondary-bg-color: #ececec;
    --primary-text-color: #000;
    --secondary-text-color: #000000b3;
    --box-shadow-value: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --secondary_box-shadow-value: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    --box-color: #ffff;
    --secondary_box-color: #fbfbfb;
    --secondary_inner_box-color: #fff;
    --secondary-text: #232738;
    --base-variant: #d4d4d4;
    --head_bgcolor: #dddd;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

@keyframes moveDots {
    to {
      stroke-dashoffset: 0;
    }
}

.underline_ {
    margin: 25px 0;
    display: block;
    font-size: 28px;
    line-height: 10px;
    letter-spacing: 8px;
    color: rgba(255, 255, 255, 0.6);
}

.banner_link {
    border: 1px solid rgb(65, 175, 255);
    border-radius: 10px;
    background-color: rgb(29, 163, 252);
    padding: 14px 22px 14px 12px;
    font-size: 17px;
    font-weight: 500;
}

.ban_pic2 {
    position: absolute;
    top: 26%;
    left: 0;
    width: 98px;
    filter: hue-rotate(187deg);
}

.ban_pic1 {
    position: absolute;
    right: 0;
    top: 28%;
    width: 169px;
    z-index: 2;
}

.col-lg-6_ {
    flex: 0 0 auto;
    width: 50%;
}

.col-lg-6 {
    flex: 0 0 auto;
    width: 100%;
}

.banner_image {
    width: 456px;
    z-index: -1;
    position: absolute;
    top: 38%;
    right: 5%;
}

.fa-chevron-down-img {
    width: 50px;
}

.fa-chevron-down {
    position: absolute;
}

.border-x-gradient {
    position: relative;
    border-left: none;
    border-right: none;
}
.border-x-gradient::before, .border-x-gradient::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    width: 2px;
}
.border-x-gradient::before {
    left: 0;
    background: linear-gradient(to bottom, #B1BEFF, #9EE7FF);
}
.border-x-gradient::after {
    right: 0;
    background: linear-gradient(to bottom, #B1BEFF, #9EE7FF);
}

.heading {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.head h2 {
    color: #131313;
    font-size: 35px;
    font-weight: 600;
    width: 200px;
    padding: 10px 0px;
}

.head p {
    color: #808080;
    width: 94%;
    padding: 10px 0px;
}

.plan_icon {
    float: left;
    max-width: 45px;
    margin: 23px 10px 0px -35px !important;
}

.accordion-item:first-of-type {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.accordion-item {
    margin: 10px 0px;
    background-color: unset !important;
    border: none !important;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.accordion-button:not(.collapsed) {
    color: unset !important;
    background-color: #f4fafc !important;
}

.plan_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.plan_right h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary_color);
    max-width: 160px;
    width: 100%;
    margin-left: 40px;
    padding: 15px 0px 0px;
    line-height: 16px;
}

.plan_right h2 b {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.plan_right h4 {
    font-size: 15px;
    font-weight: 400;
    font-family: var(--primary_font);
    background: #ffedd1;
    display: inline-block;
    padding: 5px 22px;
    color: #ff962c;
    border-radius: 5px;
}

.plan_right h2 span {
    font-size: 18px;
    font-weight: 500;
    color: var(--text_color);
    text-transform: capitalize;
}

.plan_left i {
    font-size: 22px;
    color: #00b6b4;
    margin-right: 15px;
}

[class^="ri-"], [class*=" ri-"] {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ri-money-dollar-circle-line:before {
    content: "\ef65";
}

.plan_left h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--text_color);
    margin-right: 30px;
    text-transform: capitalize;
}

.plan_left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan_left h3 span {
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: var(--primary_color);
}

.accordion-body {
    padding: 1rem 1.25rem;
}

.plan_body_top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.plan_body_top .right_text {
    max-width: 400px;
    width: 100%;
}

.plan_body_top .right_text h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0px 0px;
    color: var(--text_color);
}

.plan_body_top .right_text i {
    font-size: 16px;
    color: #ff9937;
    margin: 0px 5px;
}

.plan_body_top .right_text h3 span {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary_color);
}

.plan_body_top .left_text h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--text_color);
    padding: 10px 0px;
}

.plan_body_top .left_text i {
    font-size: 16px;
    color: #24b6b9;
    margin-right: 13px;
}

.fa-solid, .fas {
    font-weight: 900;
}
.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    font-family: "Font Awesome 6 Free";
}

.plan_boby_bottom {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.plan_boby_bottom .right_text h4, .plan_boby_bottom .left_text h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--text_color);
}

.plan_boby_bottom .right_text h5 {
    font-size: 18px;
    font-weight: 500;
    color: var(--text_color);
    margin: 35px 10px 0px;
}
.cal_group h5 {
    display: inline-block;
    width: 47%;
}

.plan_boby_bottom .right_text .inpts1 {
    display: block;
    width: 100%;
    border: 1px solid var(--text_color);
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    margin: 14px 0px 0px;
    outline: unset !important;
}

select {
    word-wrap: normal;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.calc-btn {
    margin-top: -25px;
    display: flex;
    justify-content: start;
}

.tradingview-widget-copyright {
    font-size: 13px !important;
    line-height: 32px !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
    color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
    color: #2962FF !important;
}

.tradingview-widget-copyright a {
    text-decoration: none !important;
    color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
    color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
    color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
    color: #2962FF !important;
}

.plan_boby_bottom .left_text h5 {
    margin: 20px 0px 0px;
    font-size: 18px;
    font-weight: 400;
    color: var(--text_color);
    line-height: 30px;
    text-align: end;
}

.me-2 {
    margin-right: .5rem !important;
}

img, svg {
    vertical-align: middle;
}

.plan_boby_bottom .left_text h5 span {
    display: block;
    margin-left: 21px;
    font-size: 24px;
    font-weight: 600;
    color: var(--primary_color);
}

.video_section {
    margin-top: 120px;
    padding: 50px 0px;
    background: url('./assets/video_bg.jpg');
    background-size: 100% 100%;
}

.container_, .container_-fluid, .container_-lg, .container_-md, .container_-sm, .container_-xl, .container_-xxl {
    width: 1128px;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.svg_line {
    position: absolute;
    left: 125px;
    top: 93px;
}

.dotted-line {
    stroke: rgb(118, 118, 117);
    stroke-width: 2px;
    stroke-dasharray: 1, 6;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    fill: none;
    animation: moveDots 5s linear infinite;
    opacity: 0.7;
}

.svg_line_hori {
    position: absolute;
    bottom: 219px;
    left: 130px;
}

.live_widget_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 15px 0px 15px;
    border-radius: 10px;
    max-width: 930px;
    margin-left: auto;
    margin-top: -155px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.tradingview-widget-copyright {
    font-size: 13px !important;
    line-height: 32px !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
    color: #B2B5BE !important;
}

.tradingview-widget-copyright a {
    text-decoration: none !important;
    color: #B2B5BE !important;
}

body a {
    text-decoration: none;
    cursor: pointer;
    color: #001547;
    font-size: 14px;
}

.tradingview-widget-copyright a:visited .blue-text {
    color: #2962FF !important;
}

.tradingview-widget-copyright .blue-text {
    color: #2962FF !important;
}

.content_section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    place-items: center;
    position: relative;
    z-index: 1;
    max-width: 950px;
    margin-left: auto;
    margin-top: 20px;
}

.head_ h3 {
    font-size: 35px;
    font-weight: 600;
    color: var(--primary_color);
    width: 74%;
}

.fade_text {
    position: absolute;
    color: #cde5e3;
    -webkit-text-fill-color: #e7f6f5;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #cde5e3;
    font-size: 100px;
    font-weight: 900;
    font-family: "Playfair Display", serif !important;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 600px;
    width: 100%;
    opacity: .6;
    z-index: -1;
    text-transform: capitalize;
}

body p {
    padding: 0px;
    margin: 0px;
}

.text_part p {
    font-size: 14px;
    font-weight: 400;
    color: var(--text_color);
    line-height: 25px;
    text-align: justify;
}

.video_section .banner_video {
    height: 450px;
    width: 881px;
    margin-left: auto;
    padding: 40px 0px;
}

.video_section .banner_video iframe {
    width: 100%;
    height: 100%;
    border: 4px solid rgb(215, 220, 226);
    border-radius: 10px;
}

.banner_video iframe {
    width: 100%;
    height: 100%;
}

.vector_icon {
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 63px;
}

.referal_section{
    padding: 50px 0px;
    background: url('./assets/video_bg.jpg');
    background-size: 100% 100%;
}
.referal_content_group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 13px 0px 0px;
}
.referal_section .head_{
    position: relative;
    z-index: 1;
}
.high_text{
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #000 !important;
    margin: 0px 0px 20px;
}
.content p{
    font-size: 13px;
    font-weight: 400;
    color: var(--text_color);
    text-align: justify;
}

.refer_video_img {
    border-radius: 10px;
    height: 338px;
    width: 500px;
    display: block;
    margin: 30px auto 0px !important;
    
}
.referal_video{
    position: relative;
}
.referal_video a{
    width: 80px;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 39px;
    color: #151414;
    top: 45%;
    left: 0px;
    right: 0px;
    position: absolute;
    margin: auto;
}
.referal_section .fade_text{
    font-size: 145px;
    top: -45px;
    left: -190px;
}

.ref_levels{
    max-width: 300px;
    width: 100%;
    margin: 40px auto 0px;
    position: relative;
}
.ref_levels ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ref_levels ul li h3{
    font-size: 16px;
    font-weight: 400;
    color: var(--text_color);
    border-bottom: 1px dashed var(--text_color);
    padding: 0px 0px 5px;
    width: fit-content;
}   
.ref_levels ul li h2{
    font-size: 25px;
    font-weight: 700;
    color: var(--primary_color);
}
.ref_levels ul li:nth-child(1){
    position: absolute;
    top: 32px;
    width: 404px;
    left: -51px;
}
.ref_levels ul li:nth-child(3){
    position: absolute;
    top: 114px;
    left: -52px;
    width: 347px;
}
.ref_levels ul li:nth-child(5){
    position: absolute;
    bottom: 32px;
    left: -52px;
    width: 314px;
}
.ref_part .content {
    margin: 57px 0px 45px;
}
.ref_vector_img{
    float: right;
    margin: -40px 0px 0px !important;
    max-width: 85px;
}

.head_ h2 {
    font-size: 45px;
    font-weight: 700;
    color: var(--primary_color);
}

.head_ h2 span {
    display: block;
    color: #F98F21;
    margin-top: -10px;
    font-weight: 500;
}

.stat_section {
    padding: 50px 0px 0px;
    background-image: url(./assets/stat_bg.jpg);
    background-size: 100% 100%;
}

.stat_group {
    border: solid 0px;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding: 46px 1px 46px 0px;
    /* background: url(../images/secu_bg.jpg); */
    /* background-size: cover; */
    position: relative;
    overflow: hidden;
}
.stat_group::before {
    width: 1273px;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #EBF7FA, #c1ecf2);
}

.stat_section .head_ .fade_text {
    font-size: 120px;
    top: -60px;
    opacity: .1;
}

.stat_section .head_ h2 span {
    display: inline;
}

.stat_section .head_ {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 30px;
}

.stat_item {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(0, 0, 0, 0.06);
    padding: 10px 25px 10px 0px;
    border-radius: 7px;
    max-width: 230px;
    z-index: 1;
}

.stat_item h3 {
    font-size: 15px;
    font-weight: 400;
    font-family: var(--secondary_font);
    color: var(--secondary-text);
    line-height: 30px;
}

.stat_item h3 span {
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: #00bec2;
    padding: 5px 0px 0px;
}

.Security_section {
    padding: 50px 0px;
    background: linear-gradient(to right, #F1F9FB, #c3ebf1);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.head_ p {
    font-size: 14px;
    font-weight: 300;
    font-family: var(--primary_font);
    color: var(--text_color);
    margin: 10px 0px 0px;
    text-align: justify;
}

.security_group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 0px 0px;
}

.secu_item {
    max-width: 300px;
    width: 100%;
    margin: auto;
    padding: 20px;
    background: linear-gradient(341deg, #e1f4f5, #ffffff);
    border-radius: 10px;
    text-align: start;
    height: 350px;
    vertical-align: top;
}

.secu_item h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary_color);
    padding: 10px 0px;
}

.secu_item p {
    font-size: 13px;
    font-weight: 400;
    text-align: justify;
    color: var(--text_color);
}

.Security_section .head_ h2 span {
    display: inline;
}

.certifi_secction {
    padding: 50px 0px 90px;
    background: #f6fafe;
}

.certifi_secction .bold_text {
    color: var(--primary_color);
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0px 30px;
}

.cert_info h3 {
    font-size: 18px;
    font-weight: 500;
    color: #1f1f1f;
    margin: 0px 0px 30px;
    line-height: 25px;
}

.cert_info h3 span {
    display: block;
    background: linear-gradient(to right, #f6851b, #fea82e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.cert_info p {
    font-size: 18px;
    font-weight: 500;
    color: #181818;
    margin: 0px 0px 20px;
}

.cert_info p span {
    display: block;
    color: #1f1f1f;
    font-weight: 500;
}

.cert_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (max-width: 992px) {
    .calc-btn {
        margin-top: 20px;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 49%;
    }
}

@media (min-width: 1400px) {
    .calc-btn {
        margin-top: -25px;
        justify-content: start;
    }
    .container_ {
        width: 1320px;
    }
    .video_section .banner_video {
        width: 1070px;
    }
    .stat_group::before {
        width: 1447px;
    }
}

@media (max-width: 1199px) {
    .plan_icon {
        float: left;
        max-width: 42px;
        margin: 20px 7px 0px -32px !important;
    }
    .plan_right h2 {
        max-width: 133px;
        margin-left: 41px;
    }
    .plan_boby_bottom .right_text h4, .plan_boby_bottom .left_text h4 {
        font-size: 15px;
    }
    .plan_boby_bottom .right_text h5 {
        margin: 35px 7px 0px;
    }
    .video_section .svg_line_hori, .video_section .svg_line {
        display: none;
    }
    .container_ {
        max-width: 948px;
    }
    .referal_section .fade_text {
        font-size: 136px;
        top: -37px;
        left: -128px;
    }
    .referal_section .head_ h2 {
        width: 480px;
    }
    .stat_group::before {
        width: 1186px;
    }
}

@media (max-width: 991px) {
    .plan_right h2 {
        margin-left: 38px;
    }
    .live_widget_part {
        margin: 0px;
        padding: 0px;
    }
    .head h3 {
        font-size: 31px;
    }
    .video_section .banner_video {
        height: 450px;
        width: 670px;
        margin: auto;
    }
    .container_ {
        max-width: 98% !important;
    }
    .video_section {
        margin-top: 0px;
        padding-top: 30px;
    }
    .referal_section .head_ {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .referal_section .head_ h2 {
        text-align: center;
    }
    .refer_video_img {
        width: 635px;
        display: block;
        margin: 30px auto 35px !important;
    }
    .referal_section .fade_text {
        font-size: 112px;
        top: -37px;
        left: 58px;
    }
    .ref_part .content p {
        text-align: center;
    }
    .stat_item {
        margin: 5px;
    }
    .stat_group {
        padding-bottom: 46px;
        border-radius: 15px;
    }
    .stat_group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .head_ p {
        text-align: center;
    }
    .secu_item p {
        font-size: 11px;
        font-weight: 300;
    }
    .secu_item {
        max-width: 233px;
        padding: 13px 15px;
    }
    .Security_section .head_ h2 {
        text-align: center;
    }
    .stat_section {
        padding-bottom: 50px;
    }
    .stat_group::before {
        width: 100vw;
    }
    .cert_img {
        text-align: center;
    }
    .cert_img a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cert_group {
        margin: 30px 0px 0px;
    }
    .head_ h2 {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .plan_left h3 {
        font-size: 15px;
    }
    .plan_left h3 span {
        font-size: 20px;
    }
    .plan_boby_bottom .right_text h5 {
        margin: 25px 7px 0px;
    }
    .live_widget_part {
        flex-wrap: wrap;
    }
    .content_section {
        grid-template-columns: 1fr;
    }
    .head_ h3 {
        font-size: 31px;
        margin: auto;
        text-align: center;
    }
    .text_part p {
        margin: 10px 0px 0px;
        text-align: center;
    }
    .video_section .banner_video {
        height: 385px;
        width: 535px;
    }
    .video_section {
        margin-top: 0px;
        padding-top: 30px;
    }
    .cal_group h5 {
        width: 50%;
    }
    .referal_section {
        overflow: hidden;
        background-size: cover;
    }
    .security_group {
        flex-wrap: wrap;
    }
    .secu_item {
        margin: 0px 0px 10px;
    }
    .Security_section .head_ h2 {
        text-align: center;
    }
    .stat_section {
        padding-bottom: 50px;
    }
    .stat_group::before {
        width: 100vw;
    }
}

@media (max-width: 576px) {
    .plan_item {
        flex-direction: column;
    }
    .plan_icon {
        margin: 28px 7px 0px -64px !important;
    }
    .plan_right h2 {
        font-size: 25px;
    }
    .plan_right h2 span {
        font-size: 16px;
    }
    .plan_left {
        margin: 20px 0px 0px;
    }
    .plan_right {
        justify-content: center;
    }
    .plan_right h2 {
        margin-left: 0;
        text-wrap: nowrap;
    }
    .plan_right h2 span {
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-wrap: nowrap;
    }
    .plan_boby_bottom .right_text h4, .plan_boby_bottom .left_text h4 {
        font-size: 13px;
        text-align: center;
    }
    .plan_boby_bottom .right_text h5 {
        margin: 15px 7px 0px;
    }
    .plan_boby_bottom .right_text h5 {
        font-size: 15px;
    }
    .plan_boby_bottom .right_text .inpts1 {
        padding: 8px;
    }
    .plan_boby_bottom .left_text h5 {
        font-size: 16px;
    }
    .plan_boby_bottom .left_text h5 span {
        font-size: 18px;
    }
    .video_section, .plan_section, .referal_section, .safety_section, .Security_section, .certifi_secction, .pay_section, .referal_section {
        padding: 35px 0px;
        background-size: cover;
    }
    .head h3 {
        font-size: 29px;
        text-align: center;
    }
    .fade_text {
        text-align: center;
    }
    .video_section .banner_video {
        height: 333px !important;
        width: 100%;
    }
    .vector_icon {
        max-width: 35px;
    }
    .container_ {
        max-width: 100% !important;
    }
    .video_section {
        margin-top: 0px;
        padding-top: 30px;
    }
    .inpts1 {
        width: 140px !important;
    }
    .referal_section .head h2 {
        font-size: 30px;
    }
    .referal_content_group {
        display: grid;
        grid-template-columns: 1fr;
    }
    .content p {
        text-align: center;
    }
    .referal_section .fade_text {
        font-size: 80px;
        top: -17px;
        left: -2px;
    }
    .ref_levels {
        max-width: 220px;
    }
    .ref_levels ul li:nth-child(1) {
        position: absolute;
        top: 25px;
        width: 314px;
    }
    .ref_levels ul li h3 {
        font-size: 16px;
    }
    .ref_levels ul li h2 {
        font-size: 23px;
    }
    .ref_levels ul li:first-child {
        margin-top: -6px;
    }
    .ref_levels ul li:nth-child(3) {
        width: 276px;
        margin-top: -33px;
    }
    .ref_levels ul li:nth-child(5) {
        width: 250px;
        margin-bottom: -11px;
    }
    .ref_vector_img {
        max-width: 50px;
    }
    .head_ h2 {
        font-size: 30px;
    }
    .ref_levels img {
        width: 220px;
    }
    .stat_section {
        background-size: cover;
        padding: 35px 0px 0px;
    }
    .stat_section .head_ .fade_text {
        font-size: 71px;
        top: -29px;
    }
    .stat_item h3 {
        font-size: 13px;
    }
    .secu_item {
        max-width: 295px;
    }
    .Security_section .head_ h2 {
        text-align: center;
    }
    .secu_item h3 {
        font-size: 17px;
    }
    .stat_section {
        padding-bottom: 30px;
    }
    .stat_group::before {
        width: 100vw;
    }
    .cert_info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .cert_info h3 {
        text-align: center;
    }
    .cert_info p {
        margin: 0px 17px 20px;
        text-align: center;
    }
    .cert_group {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 992px) {
    .plan_boby_bottom .left_text h5 {
        text-align: center;
    }
}

@media (min-width: 1400px) {
    .contentWidth {
        width: 1296px;
    }
    .banner-text {
        width: 636px;
    }
    .banner_image {
        width: 585px;
        top: 33%;
        right: 4%;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .contentWidth {
        width: 1116px;
    }
    .banner-text {
        width: 546px;
    }
    .banner_image {
        width: 585px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .contentWidth {
        width: 936px;
    }
    .banner-text {
        width: 456px;
    }
    .banner_image {
        top: 41%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .contentWidth {
        width: 696px;
    }
    .banner-text {
        width: 100%;
    }
    .ban_pic1 {
        z-index: 0;
    }
    .fa-chevron-down-img {
        width: 45px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .contentWidth {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-text {
        width: 516px;
    }
    .ban_pic1 {
        display: none;
    }
    .ban_pic2 {
        display: none;
    }
    .heading {
        grid-template-columns: 1fr;
    }
    .head h2 {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 575px) {
    .contentWidth {
        width: 100%;
    }
    .banner-text {
        width: 100%;
        padding: 0 20px;
    }
    .ban_pic1 {
        display: none;
    }
    .ban_pic2 {
        display: none;
    }
    .heading {
        grid-template-columns: 1fr;
    }
    .head h2 {
        width: 100%;
        text-align: center;
    }
}

@keyframes fill-bounce {
  0%   { transform: scaleX(0); }
  100% { transform: scaleX(1.1); }
}

@keyframes fill-bounce-kick {
  0%   { transform: scaleX(0); }
  60%  { transform: scaleX(1); }
  85%  { transform: scaleX(0.90); }
  90%  { transform: scaleX(0.95); }
  100% { transform: scaleX(1.1); }
}