.underline_ {
    margin: 25px 0;
    display: block;
    font-size: 28px;
    line-height: 10px;
    letter-spacing: 8px;
    color: rgba(255, 255, 255, 0.6);
}

.banner_link {
    border: 1px solid rgb(65, 175, 255);
    border-radius: 10px;
    background-color: rgb(29, 163, 252);
    padding: 14px 22px 14px 12px;
    font-size: 17px;
    font-weight: 500;
}

.ban_pic2 {
    position: absolute;
    top: 26%;
    left: 0;
    width: 98px;
    filter: hue-rotate(187deg);
}

.ban_pic1 {
    position: absolute;
    right: 0;
    top: 28%;
    width: 169px;
    z-index: 2;
}

.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}

.banner_image {
    width: 456px;
    z-index: -1;
    position: absolute;
    top: 38%;
    right: 5%;
}

.fa-chevron-down-img {
    width: 50px;
}

.fa-chevron-down {
    position: absolute;
}

.border-x-gradient {
    position: relative;
    border-left: none;
    border-right: none;
}
.border-x-gradient::before, .border-x-gradient::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    width: 2px;
}
.border-x-gradient::before {
    left: 0;
    background: linear-gradient(to bottom, #B1BEFF, #9EE7FF);
}
.border-x-gradient::after {
    right: 0;
    background: linear-gradient(to bottom, #B1BEFF, #9EE7FF);
}

.heading {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.head h2 {
    color: #131313;
    font-size: 35px;
    font-weight: 600;
    width: 200px;
    padding: 10px 0px;
}

.head p {
    color: #808080;
    width: 94%;
    padding: 10px 0px;
}

.plan_icon {
    float: left;
    max-width: 45px;
    margin: 23px 10px 0px -35px !important;
}

.accordion-item:first-of-type {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.accordion-item {
    margin: 10px 0px;
    background-color: unset !important;
    border: none !important;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.accordion-button:not(.collapsed) {
    color: unset !important;
    background-color: #f4fafc !important;
}

.plan_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.plan_right h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary_color);
    max-width: 160px;
    width: 100%;
    margin-left: 40px;
    padding: 15px 0px 0px;
    line-height: 16px;
}

.plan_right h2 b {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.plan_right h4 {
    font-size: 15px;
    font-weight: 400;
    font-family: var(--primary_font);
    background: #ffedd1;
    display: inline-block;
    padding: 5px 22px;
    color: #ff962c;
    border-radius: 5px;
}

.plan_right h2 span {
    font-size: 18px;
    font-weight: 500;
    color: var(--text_color);
    text-transform: capitalize;
}

.plan_left i {
    font-size: 22px;
    color: #00b6b4;
    margin-right: 15px;
}

[class^="ri-"], [class*=" ri-"] {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ri-money-dollar-circle-line:before {
    content: "\ef65";
}

.plan_left h3 {
    font-size: 18px;
    font-weight: 400;
    color: var(--text_color);
    margin-right: 30px;
    text-transform: capitalize;
}

.plan_left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan_left h3 span {
    display: block;
    font-size: 22px;
    font-weight: 600;
    color: var(--primary_color);
}

.accordion-body {
    padding: 1rem 1.25rem;
}

.plan_body_top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.plan_body_top .right_text {
    max-width: 400px;
    width: 100%;
}

.plan_body_top .right_text h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0px 0px;
    color: var(--text_color);
}

.plan_body_top .right_text i {
    font-size: 16px;
    color: #ff9937;
    margin: 0px 5px;
}

.plan_body_top .right_text h3 span {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary_color);
}

.plan_body_top .left_text h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--text_color);
    padding: 10px 0px;
}

.plan_body_top .left_text i {
    font-size: 16px;
    color: #24b6b9;
    margin-right: 13px;
}

.fa-solid, .fas {
    font-weight: 900;
}
.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    font-family: "Font Awesome 6 Free";
}

.plan_boby_bottom {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.plan_boby_bottom .right_text h4, .plan_boby_bottom .left_text h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--text_color);
}

.plan_boby_bottom .right_text h5 {
    font-size: 18px;
    font-weight: 500;
    color: var(--text_color);
    margin: 35px 10px 0px;
}
.cal_group h5 {
    display: inline-block;
    width: 47%;
}

.plan_boby_bottom .right_text .inpts1 {
    display: block;
    width: 100%;
    border: 1px solid var(--text_color);
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    margin: 14px 0px 0px;
    outline: unset !important;
}

select {
    word-wrap: normal;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.calc-btn {
    margin-top: -50px;
    display: flex;
    justify-content: start;
}

.tradingview-widget-copyright {
    font-size: 13px !important;
    line-height: 32px !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
    color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
    color: #2962FF !important;
}

.tradingview-widget-copyright a {
    text-decoration: none !important;
    color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
    color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
    color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
    color: #2962FF !important;
}

.plan_boby_bottom .left_text h5 {
    margin: 20px 0px 0px;
    font-size: 18px;
    font-weight: 400;
    color: var(--text_color);
    line-height: 30px;
    text-align: end;
}

.me-2 {
    margin-right: .5rem !important;
}

img, svg {
    vertical-align: middle;
}

.plan_boby_bottom .left_text h5 span {
    display: block;
    margin-left: 21px;
    font-size: 24px;
    font-weight: 600;
    color: var(--primary_color);
}

.video_section {
    margin-top: 120px;
    padding: 50px 0px;
    background: url('./assets/video_bg.jpg');
    background-size: 100% 100%;
}

.container_, .container_-fluid, .container_-lg, .container_-md, .container_-sm, .container_-xl, .container_-xxl {
    width: 1128px;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.svg_line {
    position: absolute;
    left: 125px;
    top: 93px;
}

.dotted-line {
    stroke: rgb(118, 118, 117);
    stroke-width: 2px;
    stroke-dasharray: 1, 6;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    fill: none;
    animation: moveDots 5s linear infinite;
    opacity: 0.7;
}

.svg_line_hori {
    position: absolute;
    bottom: 219px;
    left: 130px;
}

.live_widget_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 15px 0px 15px;
    border-radius: 10px;
    max-width: 930px;
    margin-left: auto;
    margin-top: -155px;
}

iframe {
    border: 0;
}

.tradingview-widget-copyright {
    font-size: 13px !important;
    line-height: 32px !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
    color: #B2B5BE !important;
}

.tradingview-widget-copyright a {
    text-decoration: none !important;
    color: #B2B5BE !important;
}

body a {
    text-decoration: none;
    cursor: pointer;
    color: #001547;
    font-size: 14px;
}

.tradingview-widget-copyright a:visited .blue-text {
    color: #2962FF !important;
}

.tradingview-widget-copyright .blue-text {
    color: #2962FF !important;
}

.content_section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    place-items: center;
    position: relative;
    z-index: 1;
    max-width: 950px;
    margin-left: auto;
    margin-top: 20px;
}

.head_ h3 {
    font-size: 35px;
    font-weight: 600;
    color: var(--primary_color);
    width: 74%;
}

.fade_text {
    position: absolute;
    color: #cde5e3;
    -webkit-text-fill-color: #e7f6f5;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #cde5e3;
    font-size: 100px;
    font-weight: 900;
    font-family: "Playfair Display", serif !important;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 600px;
    width: 100%;
    opacity: .6;
    z-index: -1;
    text-transform: capitalize;
}

body p {
    padding: 0px;
    margin: 0px;
}

.text_part p {
    font-size: 14px;
    font-weight: 400;
    color: var(--text_color);
    line-height: 25px;
    text-align: justify;
}

.video_section .banner_video {
    height: 450px;
    width: 881px;
    margin-left: auto;
    padding: 40px 0px;
}

.video_section .banner_video iframe {
    border: 4px solid rgb(215, 220, 226);
    border-radius: 10px;
}

.banner_video iframe {
    width: 100%;
    height: 100%;
}

.vector_icon {
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 63px;
}

@keyframes moveDots {
    to {
      stroke-dashoffset: 0;
    }
}

@media (max-width: 992px) {
    .calc-btn {
        margin-top: 20px;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .calc-btn {
        margin-top: -25px;
        justify-content: start;
    }
}

@media (max-width: 1199px) {
    .plan_icon {
        float: left;
        max-width: 42px;
        margin: 20px 7px 0px -32px !important;
    }
    .plan_right h2 {
        max-width: 133px;
        margin-left: 41px;
    }
    .plan_boby_bottom .right_text h4, .plan_boby_bottom .left_text h4 {
        font-size: 15px;
    }
    .plan_boby_bottom .right_text h5 {
        margin: 35px 7px 0px;
    }
    .video_section .svg_line_hori, .video_section .svg_line {
        display: none;
    }
    .container_ {
        max-width: 948px;
    }
}

@media (max-width: 991px) {
    .plan_right h2 {
        margin-left: 38px;
    }
    .live_widget_part {
        margin: 0px;
        padding: 0px;
    }
    .head h3 {
        font-size: 31px;
    }
    .video_section .banner_video {
        height: 450px;
        width: 670px;
        margin: auto;
    }
    .container_ {
        max-width: 98% !important;
    }
    .video_section {
        margin-top: 0px;
        padding-top: 30px;
    }
}

@media (max-width: 576px) {
    .plan_item {
        flex-direction: column;
    }
    .plan_icon {
        margin: 28px 7px 0px -64px !important;
    }
    .plan_right h2 {
        font-size: 25px;
    }
    .plan_right h2 span {
        font-size: 16px;
    }
    .plan_left {
        margin: 20px 0px 0px;
    }
    .plan_right {
        justify-content: center;
    }
    .plan_right h2 {
        margin-left: 0;
        text-wrap: nowrap;
    }
    .plan_right h2 span {
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-wrap: nowrap;
    }
    .plan_boby_bottom .right_text h4, .plan_boby_bottom .left_text h4 {
        font-size: 13px;
        text-align: center;
    }
    .plan_boby_bottom .right_text h5 {
        margin: 15px 7px 0px;
    }
    .plan_boby_bottom .right_text h5 {
        font-size: 15px;
    }
    .plan_boby_bottom .right_text .inpts1 {
        padding: 8px;
    }
    .plan_boby_bottom .left_text h5 {
        font-size: 16px;
    }
    .plan_boby_bottom .left_text h5 span {
        font-size: 18px;
    }
    .video_section, .plan_section, .referal_section, .safety_section, .Security_section, .certifi_secction, .pay_section, .referal_section {
        padding: 35px 0px;
        background-size: cover;
    }
    .head h3 {
        font-size: 29px;
        text-align: center;
    }
    .fade_text {
        text-align: center;
    }
    .video_section .banner_video {
        height: 333px !important;
        width: 333px !important;
    }
    .vector_icon {
        max-width: 35px;
    }
    .container_ {
        max-width: 100% !important;
    }
    .video_section {
        margin-top: 0px;
        padding-top: 30px;
    }
    .inpts1 {
        width: 140px !important;
    }
}

@media (max-width: 767px) {
    .plan_left h3 {
        font-size: 15px;
    }
    .plan_left h3 span {
        font-size: 20px;
    }
    .plan_boby_bottom .right_text h5 {
        margin: 25px 7px 0px;
    }
    .live_widget_part {
        flex-wrap: wrap;
    }
    .content_section {
        grid-template-columns: 1fr;
    }
    .head_ h3 {
        font-size: 31px;
        margin: auto;
        text-align: center;
    }
    .text_part p {
        margin: 10px 0px 0px;
        text-align: center;
    }
    .video_section .banner_video {
        height: 385px;
        width: 535px;
    }
    .video_section {
        margin-top: 0px;
        padding-top: 30px;
    }
    .cal_group h5 {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .plan_boby_bottom .left_text h5 {
        text-align: center;
    }
}

@media (min-width: 1400px) {
    .contentWidth {
        width: 1296px;
    }
    .banner-text {
        width: 636px;
    }
    .banner_image {
        width: 585px;
        top: 33%;
        right: 4%;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .contentWidth {
        width: 1116px;
    }
    .banner-text {
        width: 546px;
    }
    .banner_image {
        width: 585px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .contentWidth {
        width: 936px;
    }
    .banner-text {
        width: 456px;
    }
    .banner_image {
        top: 41%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .contentWidth {
        width: 696px;
    }
    .banner-text {
        width: 100%;
    }
    .ban_pic1 {
        z-index: 0;
    }
    .fa-chevron-down-img {
        width: 45px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .contentWidth {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-text {
        width: 516px;
    }
    .ban_pic1 {
        display: none;
    }
    .ban_pic2 {
        display: none;
    }
    .heading {
        grid-template-columns: 1fr;
    }
    .head h2 {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 575px) {
    .contentWidth {
        width: 100%;
    }
    .banner-text {
        width: 100%;
        padding: 0 20px;
    }
    .ban_pic1 {
        display: none;
    }
    .ban_pic2 {
        display: none;
    }
    .heading {
        grid-template-columns: 1fr;
    }
    .head h2 {
        width: 100%;
        text-align: center;
    }
}

@keyframes fill-bounce {
  0%   { transform: scaleX(0); }
  100% { transform: scaleX(1.1); }
}

@keyframes fill-bounce-kick {
  0%   { transform: scaleX(0); }
  60%  { transform: scaleX(1); }
  85%  { transform: scaleX(0.90); }
  90%  { transform: scaleX(0.95); }
  100% { transform: scaleX(1.1); }
}