.underline_ {
    margin: 25px 0;
    display: block;
    font-size: 28px;
    line-height: 10px;
    letter-spacing: 8px;
    color: rgba(255, 255, 255, 0.6);
}

.banner_link {
    border: 1px solid rgb(65, 175, 255);
    border-radius: 10px;
    background-color: rgb(29, 163, 252);
    padding: 14px 22px 14px 12px;
    font-size: 17px;
    font-weight: 500;
}

.ban_pic2 {
    position: absolute;
    top: 26%;
    left: 0;
    width: 98px;
    filter: hue-rotate(187deg);
}

.ban_pic1 {
    position: absolute;
    right: 0;
    top: 28%;
    width: 169px;
    z-index: 2;
}

.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}

.banner_image {
    width: 456px;
    z-index: -1;
    position: absolute;
    top: 38%;
    right: 5%;
}

.fa-chevron-down-img {
    width: 50px;
}

.fa-chevron-down {
    position: absolute;
}

.border-x-gradient {
    position: relative;
    border-left: none;
    border-right: none;
}
.border-x-gradient::before, .border-x-gradient::after {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    width: 2px;
}
.border-x-gradient::before {
    left: 0;
    background: linear-gradient(to bottom, #B1BEFF, #9EE7FF);
}
.border-x-gradient::after {
    right: 0;
    background: linear-gradient(to bottom, #B1BEFF, #9EE7FF);
}

.heading {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.head h2 {
    color: #131313;
    font-size: 35px;
    font-weight: 600;
    width: 24%;
    padding: 10px 0px;
}

.head p {
    color: #808080;
    width: 94%;
    padding: 10px 0px;
}

@media (min-width: 1400px) {
    .contentWidth {
        width: 1296px;
    }
    .banner-text {
        width: 636px;
    }
    .banner_image {
        width: 585px;
        top: 33%;
        right: 4%;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .contentWidth {
        width: 1116px;
    }
    .banner-text {
        width: 546px;
    }
    .banner_image {
        width: 585px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .contentWidth {
        width: 936px;
    }
    .banner-text {
        width: 456px;
    }
    .banner_image {
        top: 41%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .contentWidth {
        width: 696px;
    }
    .banner-text {
        width: 100%;
    }
    .ban_pic1 {
        z-index: 0;
    }
    .fa-chevron-down-img {
        width: 45px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .contentWidth {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-text {
        width: 516px;
    }
    .ban_pic1 {
        display: none;
    }
    .ban_pic2 {
        display: none;
    }
}
@media (max-width: 575px) {
    .contentWidth {
        width: 100%;
    }
    .banner-text {
        width: 100%;
        padding: 0 20px;
    }
    .ban_pic1 {
        display: none;
    }
    .ban_pic2 {
        display: none;
    }
}

@keyframes fill-bounce {
  0%   { transform: scaleX(0); }
  100% { transform: scaleX(1.1); }
}

@keyframes fill-bounce-kick {
  0%   { transform: scaleX(0); }
  60%  { transform: scaleX(1); }
  85%  { transform: scaleX(0.90); }
  90%  { transform: scaleX(0.95); }
  100% { transform: scaleX(1); }
}