::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, hsla(45, 99%, 68%, 0.996), rgb(253, 173, 78), #ebecee);
    border-radius: 15px;
    background: -webkit-linear-gradient(90deg, hsla(45, 99%, 68%, 0.996) 0%, rgb(253, 173, 78) 100%);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #18110a;
    border-radius: 5px;
}