body {
    top: 0;
    left: 0;
}
header {
    width: 100vw;
    position: fixed;
    padding: 10px 5vw;
    display: flex;
    justify-content: space-between;
    font-family: 'EB Garamond';
    border-bottom: 1px solid rgb(230, 230, 230);
}
header div {
    display: flex;
    align-items: baseline;
}
header a:first-child {
    font-weight: bold;
    font-size: 20px;
    padding: 0px 2.5vw 0px 0px;
}
header a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}
header a:first-child:hover {
    text-decoration: none;
}
header a:hover {
    color: black;
    text-decoration: underline;
}
.nav {
    margin: 0px 2.5vw 0px 0px;
}
.link {
    margin: 0px 0px 0px 2vw;
    min-width: none;
    padding: 0px !important;
}
.hMenu {
    position: fixed;
    transform: translate(0px, -500px);
    padding: 0px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

/* HEADER */

.story {
    height: 500px;
    display: flex;
    margin: 0px;
}
.story:first-child {
    height: 700px;
}
.s {
    width: 50vw;
    padding: 0px 6vw;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(180, 180, 180);
}
.sInfo {
    font-size: 19px;
}
.sInfo2 {
    font-size: 15px;
}
.st h1 {
    padding: 0px 0px 25px 0px;
    font-family: 'EB Garamond'
}
.sImg {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.s2 {
    width: 67.7vw;
    padding: 0px 6vw;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(180, 180, 180);
    order: 2;
}
.sImg2 {
     width: 33.3vw;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     order: 1;
}
.s3 {
    width: 67.7vw;
    padding: 0px 6vw;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(180, 180, 180);
    order: 1;
}
.sImg3 {
     width: 33.3vw;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     order: 2;
}
.story img {
    height: 100%;
}
.st p {
    font-family: 'EB Garamond'
}
.st a {
    font-weight: 500;
}
main {
    padding-top: 50px;
}

/* story */


@media screen and (min-width: 601px) and (max-width: 850px) {
    header div:last-child {
        position: absolute;
        transform: translate(0px, -100px);
    }
    header {
        justify-content: center;
    }
    header span:first-child {
        font-size: 19px;
    }
    header a {
        font-size: 16px;
    }
    /* HEADER */
    .sInfo {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .sInfo2 {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .st h1 {
        font-size: 25px;
        padding: 0px 0px 15px 0px;
        margin-bottom: 0px;
    }
    .st a {
        font-size: 13px;
    }
    .story {
        height: 300px;
    }
    .story:first-child {
        height: 500px;
    }
    .s {
        border-top: none;
    }
    .s2 {
        width: 48vw;
        border-top: none;
    }
    .sImg2 {
        width: 49vw;
    }
    .s3 {
        width: 49.1vw;
        border-top: none;
    }
    .sImg3 {
        width: 49vw;
    }
    main {
        padding-top: 49px;
    }
}
@media screen and (max-width: 600px) {
    header {
        position: absolute;
    }
    header span:first-child {
        font-size: 16px;
    }
    header div:first-child a {
        position: absolute;
        transform: translate(0px, -100px);
    }
    header div:last-child div:last-child a {
        position: absolute;
        transform: translate(0px, -100px);
    }
    .navA {
        font-weight: bold;
        font-size: 16px !important;
        padding: 0px 0px 0px 0px;
    }
    .hMenu {
        width: 100vw;
        padding: 10px 3vw;
        position: none;
        transform: translate(0px, 0px);
    }
    .sB {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sB button {
        scale: 0.8;
    }
    .hMenu a {
        padding: 0px;
        margin: 0px; 
    }
    .hMenu {
        padding: 0px;

    }
    /* HEADER */
    main {
        padding-top: 0px;
    }
    .story {
        width: 100vw;
        height: auto;
        padding-top: 50px;
        flex-direction: column;
        justify-content: center;
    }
    .s {
        width: 100vw;
        height: auto;
        order: 2;
        border-top: none;
        padding: 0px 10vw;
    }
    .s2 {
        width: 100vw;
        border-top: none;
    }
    .s3 {
        width: 100vw;
        border-top: none;
        order: 2;
    }
    .sImg {
        width: 100vw;
        height: 70vw;
        order: 1;
        display: flex;flex-direction: row;
        align-items: center;
    }
    .sImg img {
        width: 100%;
    }
    .sImg2 {
        width: 100vw;
        height: 60vw;
        order: 1;
    }
    .sImg2 img {
        width: 100%;
    }
    .sImg3 {
        width: 100vw;
        height: 100vw;
        order: 1;
    }
    .sImg3 img {
        width: 100%;
    }
    .sInfo {
        font-size: 16px;
    }
    .sInfo2 {
        font-size: 16px;
    }
    .story h1 {
        padding: 40px 0px 20px 0px;
    } 
    .story:first-child {
        height: auto;
    }
}