body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffb3b3;
}
.cont {
    width: 700px;
    height: 700px;
    position: relative;
    background-color: white;
    border: 1px solid black;
    z-index: -1;
}
.container {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: white;
    margin-left: 150px;    
    margin-top: 150px;
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 15px solid #003cff;
    border-left: 15px solid #003cff;
    box-sizing: border-box;
    transform: rotate(45deg);
    z-index: 1;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 15px solid #0037ff;
    border-bottom: 15px solid #0037ff;
    box-sizing: border-box;
    transform: rotate(45deg);
    z-index: -1;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    scale: 0.9;
}
