.about_content {
    background: #ffff;
    padding: 60px 0px 30px 0px;
    margin: 0px 0px 0;
}

.about_content .head_ {
    max-width: 900px;
    width: 100%;
    height: 261px;
    margin: auto;
    padding: 20px;
    background: #f5fdfd;
    text-align: justify;
    border: 1px solid #7ad2d4;
    border-radius: 5px;
}

.bounty_group h3 {
    text-align: center;
    margin: 30px 0px;
    font-size: 35px;
    font-weight: 600;
    color: #04091b;
}

.bounty_item {
    padding: 20px;
    background: #f7fdfd;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bounty_item h3 {
    font-size: 23px;
    font-weight: 500;
    color: #3b3b3b;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px;
}

.bounty_item h3 img {
    margin-right: 10px;
    max-width: 45px;
    width: 100%;
}

.bounty_item p {
    font-size: 13px;
    font-weight: 400;
    padding: 7px 0px 0px;
    color: #181818;
}

.bounty_item h4 {
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(to right, #f6851b, #fea82e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 8px 0px 3px;
}

.bounty_item h5 {
    font-size: 14px;
    font-weight: 400;
    color: #181818;
    line-height: 25px;
}

.foot {
    margin: 15px 0px 0px !important;
}

.foot li:nth-child(1) {
    width: 40%;
}

.foot li {
    display: inline-block;
    width: 54%;
    margin-right: 10px !important;
}

.foot h2 {
    font-size: 18px;
    font-weight: 400;
    color: #3b3b3b;
    border: 1px solid #10cec0;
    border-radius: 7px;
    padding: 8px 20px;
}

.foot h2 span {
    display: block;
    color: #0dc6bc;
    font-weight: 500;
}

.foot h6 {
    font-size: 16px;
    font-weight: 500;
    color: #181818;
    line-height: 30px;
}

.foot h6 span {
    background: linear-gradient(to right, #f6851b, #fea82e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ===== ВСЕ МЕДИА-ПРАВИЛА ВНИЗУ ===== */

@media (max-width: 767px) {
    .bounty_item {
        margin: 15px auto;
    }
}

@media (max-width: 991px) {
    .bounty_item {
        margin: 10px;
        max-width: 500px;
        margin: auto;
    }
}

@media (max-width: 576px) {
    .foot li:nth-child(1) {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .foot li:nth-child(1) {
        width: 34%;
    }
}

@media (max-width: 576px) {
    .foot li {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .foot li {
        width: 55%;
    }
}

@media (max-width: 1199px) {
    .foot h6 {
        font-size: 13px;
    }
}
