@media (max-width: 991px) {
    .login_bg {
        background: url(../../assets/banner_bg1.jpg);
        background-size: 100% 100%;
    }
}
.forget_bg {
    background: url(../../assets/banner_bg1.jpg);
    background-size: 100% 100%;
    min-height: 100vh;
    position: relative;
}
.login_bg1 {
    padding: 50px 0px;
    background: url(../../assets/banner_bg1.jpg);
    background-size: 100% 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.forget_form {
    padding: 70px 30px;
    max-width: 650px;
    background: #ffffff;
    backdrop-filter: blur(36px);
    margin: auto;
    box-shadow: rgb(156 228 234) 0px 2px 8px 0px;
    border-radius: 5px;
}

.forget_bg .log_head {
    text-align: center;
}
.forget_bg .log_head {
    text-align: center;
}

.log_head h3 {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--primary_font-family);
    color: var(--primary_txt_color);
    letter-spacing: .5px;
}

@media (max-width: 576px) {
    .text {
        font-size: 14px;
    }
}
.text {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--secondary_font-family);
    color: var(--secondary_txt_color);
}

.footer_txt {
    background: linear-gradient(to right, #f6851b, #fea82e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: 600;
}

.login_bg .form_item {
    margin: 20px 0px;
}
@media (max-width: 576px) {
    .form_item {
        margin: 0px 0px;
    }
}
.form_item {
    position: relative;
}
.form_item {
    margin: 15px 0px !important;
}

.forget_bg .form_item .inpts {
    background: transparent;
}
.forget_bg .form_item .inpts {
    background: transparent;
}
.login_bg .inpts {
    background: #ffffff;
}
.form_item input {
    width: 100%;
    padding: 12px;
    padding-left: 8px;
    font-size: 16px;
    border: 1px solid #11d0c0;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s ease;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.login_bg .form_item label {
    background: #ffffff;
}
.form_item label {
    position: absolute;
    top: 12px;
    left: 8px;
    font-size: 16px;
    color: #777;
    pointer-events: none;
    transition: all 0.3s ease;
    background: #f2f2f2;
}
label {
    display: inline-block;
}

.form_item label {
    background: transparent;
}

.form_item input:focus + label,
.form_item input:valid + label {
    top: -7px;
    font-size: 12px;
    color: #3498db;
}

.form_item input:not([required]):focus + label,
.form_item input:not([required]):not(:placeholder-shown) + label {
    top: -7px;
    font-size: 12px;
    color: #3498db;
}

.form_but {
    margin: 20px 0px 0px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.sbmt {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background: #ff8f3c !important;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}
.sbmt {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: linear-gradient(to right, #00a6ad, #11d1c1) !important;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--primary_font);
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}

.or_text {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin: 20px 0px;
    color: var(--secondary_txt_color);
}
body h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}
.h3, h3 {
    font-size: calc(1.3rem + .6vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.log_foot {
    text-align: center;
    margin: 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 576px) {
    .log_foot span {
        margin: 0px 6px;
        font-size: 12px;
        padding: 9px 3px;
    }
}
.log_foot span {
    font-size: 13px;
    font-weight: 500;
    font-family: var(--secondary_font-family);
    color: var(--secondary_txt_color) !important;
    background: transparent;
    padding: 12px 28px;
    border: 1px solid #3fbfd17a;
    width: 100%;
    margin: 0px 10px;
    max-width: 180px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 0px #fff;
}

[class^="ri-"], [class*=" ri-"] {
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}