body {
    background-color: #FBF2E9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

}

.questions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

input[type="text"] {
    width: 50vw;
}

.labelInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

form {
    border-top: solid 2px gray;
    width: 100%;
    display: flex;
    flex-direction: column;
}